link(rel="stylesheet" href="dist/css/style.min.css" )
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
title Felipe Pires
meta(name='description', content='Sou gaúcho, natural de Santa Rosa, me criei em Farroupilha (Burati) gosto de divertir e alegrar as pessoas através dos vídeos que produzo. Amém!')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='stylesheet', href='dist/css/material.min.css')
link(rel='stylesheet', href='dist/css/style.min.css')
script(src="dist/js/material.min.js")
script(src="dist/js/handlebars.js")
script(src="dist/js/jquery.min.js")
script(src="dist/js/main.js")