// Always shows a header, even in smaller screens.
.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
  header.mdl-layout__header.flp-header
    .mdl-layout__header-row
      // Title
      span.mdl-layout-title Felipe Pires
      // Add spacer, to align navigation to the right
      .mdl-layout-spacer
      // Navigation. We hide it in small screens.
      nav.mdl-navigation.mdl-layout--large-screen-only
        a.mdl-navigation__link(href='') Link
        a.mdl-navigation__link(href='') Link
        a.mdl-navigation__link(href='') Link
        a.mdl-navigation__link(href='') Link
  .mdl-layout__drawer
    span.mdl-layout-title Opções
    nav.mdl-navigation
      a.mdl-navigation__link(href='') Link
      a.mdl-navigation__link(href='') Link
      a.mdl-navigation__link(href='') Link
      a.mdl-navigation__link(href='') Link
  main.mdl-layout__content
    .page-content.video-list
      // Your content goes here

.loader
  .mdl-spinner.mdl-spinner--single-color.mdl-js-spinner.is-active
